[Desktop Entry]
Name=1Password
GenericName=Password Manager
Comment=Keep your passwords in touch and safe
Exec=1password --silent
Terminal=false
Type=Application
Icon=1password
Categories=Security;
Keywords=Security;
StartupNotify=false
